body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.spacer {
    height: 500px; 
}

header {
    background-color: #000000;
    color: yellow;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#gameArea {
    width: 800px;
    height: 300px;
    background-color: #302f2f;
    border: 1px solid rgb(48, 47, 47);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; 
}

#controls {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

mark {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 2px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#eye {
    position: absolute;
    top: 630px;
    left: 620px;
    font-size: 80px;
    cursor: pointer;
    display: block;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

#sc {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#easyButton, #mediumButton, #hardButton{
    left: 400px;
    top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    background-color: aquamarine;
    color: black;
}

#hardButton{
    top: 300px;
}

#easyButton{
    top: 100px;
}

#gmode{
    top: 200px;
    left: 230px;
    position: absolute;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#display1, #display2{
    position: absolute;
    top: 85px  ;
    left: 400px;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid white;
}

#display2{
    left: 1000px;
}

#dc{
    top: 200px;
    left: 785px;
    position: absolute;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#redButton, #yellowButton, #greenButton{
    left: 1000px;
    top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    background-color: red;
    color: black;
}

#yellowButton{
    top: 300px;
    background-color: yellow;
}

#greenButton{
    top: 100px;
    background-color: greenyellow;
}

